/**
  * Responsive media query
*/

@media only screen and (max-width: 414px) {
    /* For phones: */

    .header-image img {
        width: 100%;
    }

    .instruction-text {
        padding: 50px 20px;
    }

    .instruction-text p::before {
        margin: initial;
    }

    .site-info {
        padding: 50px 10px;
        text-align: justify;
    }

    .border-right {
        border: initial!important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For tablets: */
    .instruction-text {
        padding: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    /* For tablets: */
    .info-right h4 {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .info-right h2 {
        margin-bottom: 22px;
        font-size: 20px;
    }
}
