/**
  * header
  * footer
  * home
  * courier
  * calculation
  * address
  * payment
  * success
*/

/* header
-------------------------------------------------------------- */
header {
    background-color: #488B5F;
    padding: 50px 0;
    color: white;
}

li.nav-item {
    padding-left: 30px;
}

.heading {
    padding: 50px 0 0;
}

.nav-link i {
    color: black;
    font-size: 20px;
}

.nav-item .login {
    background: white;
    color: #3CA455;
}

/* footer
-------------------------------------------------------------- */
footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

.footer {
    background-color: #488B5F;
    color: white;
}

.footer-menu {
    padding: 20px 0;
    padding-top: 75px;
}

.footer-menu ul li {
    padding: 5px 0;
    list-style: none;
}

.footer-menu ul li a {
    color: white;
}

.footer-menu ul li a:hover {
    text-decoration: none;
}

ul.pay-list {
    margin-top: 22px;
}

ul.pay-list li {
    display: inline-block;
    margin-right: 13px;
}

.footer-bottom {
    margin-top: 20px;
}

/* home
-------------------------------------------------------------- */
main .container {
    min-height: 500px;
}

.calculation {
    color: black;
    background: white;
    height: 300px;
    float: right;
    width: 450px;
}

#home_view_wrapper {
    margin-top: 50px;
}

.calculation-header h4 {
    color: #478A5E;
    padding-top: 20px;
}

.calculator {
    background-color: white;
    padding: 25px;
    margin-top: -7px;
}

button.custom-button.btn.btn-success, a.custom-button.btn.btn-success {
    background-color: #488B5F;
}

.calculator form input {
    background: #F6F5FA;
    border-left: none;
}

.calculator form .input-group-text {
    background: #F6F5FA;
}

.regular.slider {
    margin-bottom: 40px;
}

.boxes {
    display: inline-block;
    height: 250px;
    width: 200px;
    border: 1px solid #CECECE;
    padding: 0 20px;
    margin: 0 40px;
}

.slider-rating {
    padding-top: 40px;
    height: 500px;
    width: 365px;
    border: 1px solid #CECECE;
}

.slider-rating h4 {
    padding: 20px 0;
    margin: 0;
}

.slider-rating p {
    padding: 0 20px;
    font-size: 22px;
}

.slider-rating img {
    border-radius: 100%;
}

.filled {
    color: #F6BE2B;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-2 img {
    width: 100%;
}

.banner-2-heading {
    padding: 40px 0;
}

.button-holder {
    margin-top: 25px;
}

/* courier
-------------------------------------------------------------- */
.courier-container {
    min-height: 1000px;
    padding: 100px 0 30px;
}

.filter-container {
    background-color: #F3F3F3;
    margin: 30px 0;
}

.filter-container form {
    padding: 20px 10px;
}

.courier-table-first-row {
    border-top: 1px solid #F3F3F3;
}

.courier-table-first-row td:first-child {
    background: #348509;
    color: white;
    border-top-left-radius: 10px;
}

.courier-table-first-row td:last-child {
    background: #FF7373;
    border-top-right-radius: 10px;
    color: white;
    width: 26%;
}

.courier-table-first-row td:last-child .row {
    margin-top: 50px;
}

.courier-table-second-row {
    border-left: 1px solid #F3F3F3;
}

.courier-table-third-row {
    background: #F3F3F3;
    box-shadow: 0 11px 14px -11px grey;
    border-radius: 0 0 10px 10px;
}

.checked {
    color: #FFFF00;
}

.loader {
    background-image: linear-gradient(to right, #3B8148, #B9C17D);
}

.loader img {
    width: 100%
}

#courier-loader {
    top: 400px;
}

#courier-show {
    top: 250px;
}

/* calculation
-------------------------------------------------------------- */

.calculation-container {
    margin: 20px 0;
}

.date-container {
    margin-bottom: 40px;
}

.float-right input {
    width: 256px;
}

.calculation-form input, select {
    background-color: #F6F5FA;
    border: none;
}

.calculation-form select {
    background-color: #F6F5FA;
    border: none;
}

.calculation-form textarea {
    background-color: #F6F5FA;
    border: none;
}

.calculation-form button {
    background-color: #488B5F;
    margin-bottom: 20px;
}

.icon-container {
    margin-top: 40px;
}

.icon-container i {
    width: 14px;
}

.flatpickr-calendar {
    color: #ffffff !important;
    background-color: #488B5F;
}

.flatpickr-months .flatpickr-month {
    color: #ffffff !important;
}

.flatpickr-day {
    color: #ffffff !important;
}

.flatpickr-day.selected {
    background: #000000 !important;
    border-color: rgba(0,0,0,0.9);
}

span.flatpickr-weekday {
    color: rgb(255, 255, 255) !important;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    color: rgb(255, 255, 255) !important;
    fill: rgb(255, 255, 255) !important;
}

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
    color: #ffffff40 !important;
}

.flatpickr-day.inRange,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.today.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.nextMonthDay.today.inRange,.flatpickr-day:hover,.flatpickr-day.prevMonthDay:hover,.flatpickr-day.nextMonthDay:hover,.flatpickr-day:focus,.flatpickr-day.prevMonthDay:focus,.flatpickr-day.nextMonthDay:focus{
    background: white;
    color: #488B5F!important;
}

/* calculation
-------------------------------------------------------------- */

.address-container {
    margin: 40px 0;
}

.address-half {
    background-color: #F9F9FB;
    padding: 10px;
    margin-top: 40px;
}

.address-half a {
    color: #48A960;
    text-decoration: underline;
}

.submit-button-container {
    margin: 30px 0;
}

.submit-button {
    padding: 5px 50px;
    background-color: #488B5F;
    margin-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ECECEE;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #488B5F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* payment
-------------------------------------------------------------- */

.payment-container {
    margin: 40px 0;
}

.payment-half {
    background-color: #F8F8FA;
    padding: 10px;
    margin-top: 40px;
}

.payment-half h5 {
    padding: 20px 0;
}

.payment-half table {
    border: 1px solid #dee2e6;
}

.payment-form textarea {
    background-color: #F6F5FA;
}

.payment-form input {
    background-color: #F6F5FA;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
    background-color: #488B5F!important;
}

.custom-control-input:checked~.custom-control-label:before {
    background-color: #488B5F!important;
}

/* success
-------------------------------------------------------------- */

.success-container {
    margin: 200px 0;
}

.success-container h5 a {
    color: #3BA455;
}

.success-container .submit-button {
    margin-top: 20px;
}

.success-details {
    margin: 40px 0;
}
